@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --font-principal: "Inter", sans-serif;
  --font-destaque: "Inconsolata", monospace;
  --cor-destaque: #5c64a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: #f0f0f0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*NAV*/

header {
  margin: 30px 0 60px 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: white;
  width: 100%;
  box-shadow: 3px 3px 0px black;
  font-family: var(--font-principal);
}

.nav-icone {
  margin-right: 200px;
  width: 28px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 2px 8px;
}

.nav-links a:hover {
  background-color: var(--cor-destaque);
  color: white;
  border-radius: 4px;
}

/*HOME*/

/*SOBRE O EVENTO*/

/*PROGRAMACAO*/

/*PALESTRANTES*/

.titulo-palestrantes {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: var(--font-destaque);
}

#palestrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 3px 3px 0 black;
  text-align: left;
  font-family: var(--font-principal);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: block;
}

.card h3 {
  font-size: 14px;
  margin: 10px 0 5px;
}

.card strong {
  display: block;
  margin-bottom: 5px;
}

.card p {
  font-size: 13px;
  margin-bottom: 10px;
}

.card a {
  font-size: 12px;
  color: black;
}

/*ENCERRAMENTO*/

/*DEPOIMENTOS*/

/*INSCREVA-SE*/

#inscricoes {
  background-color: var(--cor-destaque);
  padding: 2rem;
  font-family: var(--font-destaque);
  color: white;
}

#inscricoes h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*GALERIA*/

/*QUEM SOMOS*/

/*FALE CONOSCO*/

.container-fale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 40px 80px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #000;
}

.fale-esquerda h2 {
  font-family: var(--font-destaque);
  font-size: 32px;
}

.fale-direita {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.fale-direita img {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.fale-direita h4 {
  font-family: var(--font-principal);
  font-size: 20px;
}

.fale-tudo {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
  
}

.contato-info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  gap: 40px;
  text-align: left;
  font-family: var(--font-principal);

}

.contato-info p {
  margin: 0;
  font-size: 1rem;
  padding: 2px 0;
}

/*PATROCINADORES*/

/*FOOTER*/

footer {
  background-color: var(--cor-destaque);
  width: 75%;
  text-align: center;
  box-shadow: 3px 3px 0px black;
  font-family: var(--font-principal);
  color: white;
  border: 1px solid black;
  padding: 14px 52px;
  border-radius: 12px;
  margin: 50px 0px;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Conect</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <img src="/images/contato.png" alt="" class="nav-icone">
            <div class="nav-links">
                <a href="#home">Home</a>
                <a href="#sobre-evento">Sobre o evento</a>
                <a href="#palestrantes">Palestras</a>
                <a href="#inscricoes">Inscrições</a>
                <a href="#galeria">Galeria</a>
                <a href="#quem-somos">Quem somos</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>
    </header>

    <main>
    <section id="home"></section>
    <section id="sobre-evento"></section>
    <section id="programacao"></section>
    <section id="palestrantes">
        <div class="titulo">
            <h1 class="titulo-palestrantes">Palestrantes</h1>
        </div>
        <div class="cards">
            <div class="card">
                <img src="/images/alana.png" alt="Alana">
                <h3>Inteligência Artificial na Educação</h3>
                <strong>ALANA COSTA</strong>
                <p>Engenheira de software e pesquisadora em IA. Atua com tecnologias educacionais e é autora de artigos
                    sobre aprendizado adaptativo.</p>
                <a href="mailto:alanacosta@gmail.com">alanacosta@gmail.com</a>
            </div>
            <div class="card">
                <img src="/images/carla.png" alt="Carla">
                <h3>Cidades Inteligentes e Sustentabilidade</h3>
                <strong>CARLA MENEZES</strong>
                <p>Arquiteta de soluções e especialista em smart cities. Lidera projetos de inovação urbana voltados à
                    sustentabilidade.</p>
                <a href="mailto:carlamenezes@gmail.com">carlamenezes@gmail.com</a>
            </div>
            <div class="card">
                <img src="/images/samara.png" alt="Samara">
                <h3>A Revolução do 5G no Mercado de Trabalho</h3>
                <strong>SAMARA TAVARES</strong>
                <p>Consultora em telecomunicações. Explora os impactos do 5G em carreiras, automação e conectividade.
                </p>
                <a href="mailto:samaratavares@gmail.com">samaratavares@gmail.com</a>
            </div>
        </div>
    </section>

    <section id="encerramento">
        <div class="show-final">
            <img src="/images/xdinary-heroes.png" alt="Foto dos membros do Xdinary Heroes no Album Beautiful Mind">
            <div class="card-text">
                <h2>Encerramento - <br>Apresentação<br>especial</h2>
                <p>Xdinary Heroes</p>
            </div>
        </div>

    </section>
    <section id="depoimentos"></section>
    <section id="inscricoes">
        <h2>Inscreva-se</h2>
        <div class="container-inscricoes">
             <img src="/images/inscreva-se.png" alt="Palestra" class="imagem-evento" />
             <form class="formulario">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" />
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" />
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" />
                <button type="submit">CONFIRMAR</button>
             </form>
        </div>    
    </section>

    <section id="galeria">
        <div class="imgs-galeria">
            <img src="/images/entrada.png" alt="Entrada do evento no ano passado">
            <img src="/images/ode-gunil.png" alt="Os palestrantes O.de e Gun-il antes da palestra">
            <img src="/images/gunil-ode.png" alt="Os palestrantes O.de e Gun-il depois da palestra">
            <img src="/images/banner.png" alt="Banner utilizado no ano passado">
            <img src="/images/itzy.png" alt="3 mulheres se divertindo no evento">
            <img src="/images/stray-kids.png" alt="Show de encerramento do ano passado">
        </div>
    </section>

    <section id="quem somos"></section>
    
    <section id="fale conosco">
        <div class="container-fale">

            <div class="fale-tudo">
                <div class="fale-esquerda">
                    <h2>Fale conosco</h2>
                </div>
                <div class="fale-direita">
                    <img src="images/contato.png" alt="Contato">
                    <h4>TechConect</h4>
                </div>
            </div>


            <div class="contato-info">
                <div class="email">
                    <p>Email:</p>
                    <p>casveilmontiel@gmail.com</p>
                </div>
                <div class="telefone">
                    <p>Telefone para contato:</p>
                    <p>(83) 90115-2024</p>
                </div>
            </div>
        </div>

        </div>
    </section>
    <section id="patrocinadores">
        <div class="patro">
            <h2> Patrocinadores</h2>
            <img src="images/jyp-patrocinadores.png" width="100">
            <img src="images/riot-patrocinadores.png" width="100">
            <img src="images/dragonsteel-patrocinadores.png" width="100">
            <img src="images/bee-patrocinadores.png" width="100">
        </div>
    </section>
</main>

<footer>
    <p>© 2025 - PROGRAMAR EM WEBFRONT END</p>
</footer>
</body>

</html>