.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.info h1 {
  font-size: 1.5rem;
  color: var(--secondary-02-color);
  padding-left: 20%;
  margin-top: 50px;
}

.info p {
  width: 30%;
  text-align: justify;
  background-color: var(--secondary-03-color);
  padding: 20px;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.grupo-linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.linha1,
.linha2 {
  display: grid;
  gap: 20px;
}

.linha1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin-left: 10%;
}

.linha2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.rotulo {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0 30px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--secondary-02-color);
  font-size: 1.2rem;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  text-align: start;
  min-height: 310px;
  letter-spacing: 1.5px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 1px 10px 0px 0px;
}

.info-card {
  margin: 13px 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-card img {
  width: 25px;
}

h3 {
  font-family: var(--font-family);
  font-size: 1rem;
}

.card1,
.card3,
.card5,
.card7 {
  background-color: var(--primary-color);
  color: white;
}

.icons {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .info {
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
  }

  .info p {
    margin: 30px 0px;
    width: 90%;
  }

  .info h1 {
    padding-left:0;
  
  }

  .linha1,
  .linha2 {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 90%;
  }

  .cards {
    width: 90%;
    align-items: center;
  }

  .card {
    min-height: 250px;
  }
  .grupo-linha {
    flex-direction: column;
    align-items: center;
  }

  .rotulo {
    writing-mode: horizontal-tb;
    transform: none;
    margin: 10px 0;
    text-align: center;
  }

.web {
  order: -1;
}

  .info-card {
    margin: 10px;
  }

  .icons {
    margin: 0px;
  }

  .card7 {
    margin-bottom: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .who-started {
    flex-direction: column;
    align-items: center;
  }

  .who-started__text {
    max-width: 70%;
  }

  .project-img {
    display: none;
  }

  .project-img-mobile,
  .project-img-mobile.acc {
    display: block;
    max-width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .project {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
  }

  .project__text {
    max-width: 90%;
  }

  .solution {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }

  .solution-text {
    max-width: 90%;
  }

  .solution-img {
    display: none;
  }

  .solution-img-mobile {
    display: block;
    margin-top: 50px;
    max-width: 100%;
  }

  .development__text {
    max-width: 90%;
  }

  .extend-summary-text-img {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    max-width: 90%;
  }

  .extend-summary-text-only h2 {
    margin-top: 50px;
  }

  .extend-summary-text-only p {
    max-width: 100%;
    margin: 0 auto;
  }

  .extend-summary-text-img img {
    max-width: 80%;
    height: auto;
    margin-top: -100px;
    margin-bottom: 50px;
  }

  .statistics {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
  }

  .statistic {
    max-width: 45%;
    margin: 20px auto;
  }
}

